<form method="post"
      action="{{ path('contract_option_delete', {'id': contract_option.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token"
           value="{{ csrf_token('delete' ~ contract_option.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
